<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<center><h1>EMBEBIDOS EXAMEN FINAL SEGUNDO PARCIAL</h1></center>
<center><img src="/static/images/m3.jpg" alt="user"></center>
<center><h1>Monitor de sensores de LEDS:</h1></center>
<label for="lname">sensor1</label>
<input type="text" id="lname1" name="lname"><br><br>
<label for="lname1">sensor2</label>
<input type="text" id="lname2" name="lname"><br><br>
<button onclick="MOstrar()">Mostrar</button>
<h2>Interacciones:</h2>
<h type="text" id="lname3" name="lname"></h><br><br>
</body>
</html>
